<% include header %>

<div class="container-fluid">
	<div class="row align-items-center justify-content-center">

    <div class="name">
    	<h1><span id="sign">ASL<span> <span id="after_sign">, Heard</span></h1>
    </div>

    <div id="content">
		<h1><%-title %></h1>
		<p>Do sign language, and we'll translate it into speech for you!</p><br><br><br><br><br>
	</div>

	<div id="text">
	</div>

	<button class="button">Stop/Play</button>
   
</div>

<div>

</div>
<% include footer %>
