<% include header %>

<div class="container-fluid">
	<div id="container" class="row justify-content-center">
    <div id="content">
      <h1><%-title %></h1>
      <p>We translate sign language into speech for you!</p>
      <h3 id="text"></h3>
      <button class="button">Stop/Play</button>      
    </div>
  </div>
</div>
<% include footer %>
