<% include header %>

<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div>
      <h1><%-title %></h1>
      <p>Do sign language, and we'll traslate it into speech for you!</p>
    </div>
  </div>
</div>

<div>

</div>
<% include footer %>
