body {
  color: white;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  font-size: 25px;
  background: rgba(134,174,204,1);
  background: -moz-linear-gradient(left, rgba(134,174,204,1) 0%, rgba(45,96,130,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(134,174,204,1)), color-stop(100%, rgba(45,96,130,1)));
  background: -webkit-linear-gradient(left, rgba(134,174,204,1) 0%, rgba(45,96,130,1) 100%);
  background: -o-linear-gradient(left, rgba(134,174,204,1) 0%, rgba(45,96,130,1) 100%);
  background: -ms-linear-gradient(left, rgba(134,174,204,1) 0%, rgba(45,96,130,1) 100%);
  background: linear-gradient(to right, rgba(134,174,204,1) 0%, rgba(45,96,130,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86aecc', endColorstr='#2d6082', GradientType=1 );
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

#container {
  margin-top: 40vh;
}

#text {
  margin-top: 60px;
  margin-bottom: 70px;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #888ea5;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41
}

.button:active {
  background-color: #9a7eb8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


